<div *ngIf="!notes.istrash; else showtrash">
    <div style="padding-left: 15px;padding-top: 10px;" fxLayout="row">
        <div class="colorlist">
            <a>
                <button mat-icon-button [matMenuTriggerFor]="remind" matTooltip="Remind Me" class="{{param}}">
                    <mat-icon>add_alert</mat-icon>
                </button>
                <button mat-icon-button matTooltip="collaborator" (click)="collaborator(notes.id)" class="{{param}}">
                    <mat-icon>person_add</mat-icon>
                </button>

                <button mat-icon-button [matMenuTriggerFor]="colorlist" class="{{param}}" matTooltip="Add Color">
                    <mat-icon>palette
                    </mat-icon>
                </button>
                <button mat-icon-button class="{{param}}" matTooltip="Add image">
                    <mat-icon>image</mat-icon>
                </button>


                <button mat-icon-button class="{{param}}" *ngIf="notes.isarchived; else showarchive"
                    (click)="archive(notes.id, notes.isarchived)" matTooltip="UnArchive">
                    <mat-icon>unarchive</mat-icon>
                </button>
                <ng-template #showarchive>
                    <button mat-icon-button class="{{param}}" (click)="archive(notes.id, notes.isarchived)"
                        matTooltip="Archive">
                        <mat-icon>
                            archive
                        </mat-icon>
                    </button>
                </ng-template>
                <button mat-icon-button [matMenuTriggerFor]="more" class="visible" matTooltip="more">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </a>
        </div>

        <div fxLayout="row">
            <mat-menu #colorlist="matMenu" [overlapTrigger]="false">
                <ng-template matMenuContent>
                    <div>
                        <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 1px"
                            *ngFor="let colors of arrayofColors">
                            <div *ngFor="let color of colors">
                                <button [ngStyle]="{'background-color': color.color}"
                                    (click)="setcolor(notes.id, color.color)" matTooltip="{{ color.name }}"
                                    mat-mini-fab></button>

                            </div>
                        </div>
                    </div>
                </ng-template>
            </mat-menu>
        </div>
        <!-- (click)="reminder(notes)" -->
        <mat-menu #remind="matMenu">
            <mat-card class="size">
                <div fxLayout="row">
                    <mat-icon matTooltip="Go back" mat-dialog-close>arrow_back</mat-icon>
                    Pick date & time
                </div>
                <mat-form-field>
                    <input matInput [matDatepicker]="date" value="matDatepicker" #picdate>
                    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                    <mat-datepicker #date></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="color">
                    <mat-label>8:00 AM</mat-label>
                    <mat-select>
                        <mat-option value="8:00 AM" (click)="setTime(a.value)" #a>Morning 8:00 AM</mat-option>
                        <mat-option value="1:00 PM" (click)="setTime(b.value)" #b>Afternoon 1:00 PM</mat-option>
                        <mat-option value="6:00 PM" (click)="setTime(c.value)" #c>Evening 6:00 PM</mat-option>
                        <mat-option value="8:00 PM" (click)="setTime(d.value)" #d>Night 8:00 PM</mat-option>
                        <mat-option value="10:00 AM" (click)="setTime(e.value)" #e>Custom</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="color">
                    <mat-label>Does not repeat</mat-label>
                    <mat-select>
                        <mat-option value="not" (click)="setRepitation(f.value)" #f>Does not repeat</mat-option>
                        <mat-option value="daily" (click)="setRepitation(g.value)" #g>Daily</mat-option>
                        <mat-option value="weekly" (click)="setRepitation(h.value)" #h>Weekly</mat-option>
                        <mat-option value="monthly" (click)="setRepitation(i.value)" #i>Monthly</mat-option>
                        <mat-option value="yearly" (click)="setRepitation(j.value)" #j>Yearly</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button mat-dialog-close (click)="save(picdate.value,notes.id)">Save</button>
            </mat-card>
        </mat-menu>


        <mat-menu #more="matMenu">
            <button mat-menu-item (click)="trash(notes.id, notes.istrash)">Delete Note</button>
            <button mat-menu-item [matMenuTriggerFor]="addLabel" (click)="getUniqueLableNames()">Add Label</button>
            <button mat-menu-item>Add Drawing</button>
        </mat-menu>
        <mat-menu #addLabel="matMenu">
            <div *ngFor="let label of uniquLabels ">
                <mat-checkbox class="example-margin">{{label.labelname}}</mat-checkbox>
            </div>
        </mat-menu>

    </div>
</div>

<ng-template #showtrash>
    <div fxLayout="row">
        <button mat-menu-item class="{{param}}" class="trash" (click)="delete(notes.id)" matTooltip="Delete forever">
            <mat-icon>delete_forever</mat-icon>
        </button>
        <button mat-menu-item class="{{param}}" class="trash" (click)="trash(notes.id, notes.istrash)"
            matTooltip="Restore">
            <mat-icon>restore_from_trash</mat-icon>
        </button>
    </div>
</ng-template>