<div *ngIf="!notes.istrash; else showtrash">
    <div style="padding-left: 15px;padding-top: 10px;" fxLayout="row">
        <div class="colorlist">
            <a>
                <button mat-icon-button (click)="reminder(notes)" matTooltip="Remind Me" class="{{param}}">
                    <mat-icon>add_alert</mat-icon>
                </button>
                <button mat-icon-button matTooltip="collaborator" (click)="collaborator(notes.id)" class="{{param}}">
                    <mat-icon>person_add</mat-icon>
                </button>

                <button mat-icon-button [matMenuTriggerFor]="colorlist" class="{{param}}" matTooltip="Add Color">
                    <mat-icon>palette
                    </mat-icon>
                </button>
                <button mat-icon-button class="{{param}}" matTooltip="Add image">
                    <mat-icon>image</mat-icon>
                </button>


                <button mat-icon-button class="{{param}}" *ngIf="notes.isarchived; else showarchive"
                    (click)="archive(notes.id, notes.isarchived)" matTooltip="UnArchive">
                    <mat-icon>unarchive</mat-icon>
                </button>            
                    <ng-template #showarchive>
                        <button mat-icon-button class="{{param}}" (click)="archive(notes.id, notes.isarchived)"
                            matTooltip="Archive">
                            <mat-icon>
                                archive
                            </mat-icon>
                        </button>
                    </ng-template>
                <button mat-icon-button [matMenuTriggerFor]="more" class="visible" matTooltip="more">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </a>
        </div>

        <div fxLayout="row">
            <mat-menu #colorlist="matMenu" [overlapTrigger]="false">
                <ng-template matMenuContent>
                    <div>
                        <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 1px"
                            *ngFor="let colors of arrayofColors">
                            <div *ngFor="let color of colors">
                                <button [ngStyle]="{'background-color': color.color}"
                                    (click)="setcolor(notes.id, color.color)" matTooltip="{{ color.name }}"
                                    mat-mini-fab></button>

                            </div>
                        </div>
                    </div>
                </ng-template>
            </mat-menu>
        </div>
        <mat-menu #more="matMenu">
            <button mat-menu-item (click)="trash(notes.id, notes.istrash)">Delete Note</button>
            <button mat-menu-item (click)="addLabel(notes)">Add Label</button>
            <button mat-menu-item>Add Drawing</button>
        </mat-menu>
    </div>
</div>

<ng-template #showtrash>
    <button mat-menu-item class="{{param}}" (click)="delete(notes.id)" matTooltip="Delete forever">
        <mat-icon>delete_forever</mat-icon>
    </button>
    <button mat-menu-item class="{{param}}" (click)="unTrash(notes.id,notes)" matTooltip="Restore">
        <mat-icon>restore_from_trash</mat-icon>
    </button>
</ng-template>