 <app-test1></app-test1> 
<!-- [all]="getTotalEmployees()"
[male]="getTotalFemaleEmployees()"
[female]="getTotalMaleEmployees()" -->

<!-- <table>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>gender</th>
        </tr>
    </thead>
     <tbody>
        <tr  *ngFor="let test1 of test1;">
            <td>{{employee.id | uppercase}}</td>
            <td>{{employee.name | uppercase}}</td>
            <td>{{employee.gender | uppercase}}</td>
        </tr>

    </tbody>
</table> -->
<p>hi</p>

<mat-card class="getNotesMat" [ngStyle]="{'background':'green'}"></mat-card>