
.done {
    margin: 0 10px;
    display: block;
    left: auto;
  }

.check{
    height: 120px;
    overflow-y: auto;
}
.createlabel {
    background-color: rgb(228, 235, 217);
    height: 7cm;
    width: 7cm;
    margin: 0 auto;
    margin-top: 120px;
}
.row {
    height: 76%;
    width: 6cm;
    // background-color: red;
    border-radius: 0 10px 10px 0;
    margin: 0 6px;
    
}
.column {
    height:76%;
    width: 15cm;
    border-radius: 0 10px 10px 0;
    margin-bottom: 0 auto;
    
}
.space {
    margin: 0 6px;
}