<div *ngIf="param!='editlabel'">
    <app-createnote [label]="param"></app-createnote>
    <br><br>
    <div style="flex-wrap: wrap;">
        <div class="notes" fxFlexOffset="15" style="flex-direction: row;
         box-sizing: border-box; display: flex; margin-left: 5%;">
            <div *ngFor="let notes of allNotes">
                <div *ngIf="param==notes.labelname">
                    <app-display-data [notes]="notes"></app-display-data>
                </div>
            </div>
        </div>
    </div>
</div>