<div *ngIf="param!='editlabel'">
    <app-createnote [label]="param"></app-createnote>
    <br><br>
    <div style="flex-wrap: wrap;">
        <div class="notes" fxFlexOffset="15" style="flex-direction: row;
         box-sizing: border-box; display: flex; margin-left: 5%;">
            <div *ngFor="let notes of allNotes">
                <div *ngIf="param==notes.labelname">
                    <app-display-data [notes]="notes"></app-display-data>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="popup">

    <div *ngIf="param=='editlabel'&&popup">
        <div class="createlabel">
            <mat-card style="height: 7cm;width: 6.5cm;">
                <span style="display: block;">Edit Labels</span> <br>
                <div>
                    <mat-icon matTooltip="cancel" (click)="done()">close</mat-icon>
                    <input matInput style="border: none; outline: none;" placeholder="Enter label name" matInput>
                    <mat-icon matTooltip="create label" (click)="createLabel('hi')">check</mat-icon>
                </div>

                <br>
                <div *ngFor="let note of labels">
                    <a *ngIf="note.label!='hii'">
                        <mat-icon matTooltip="Delete" (click)="deleteLabel(note.id)">label</mat-icon>
                        <div *ngIf="renameLabel">
                            <input matInput style="border: none; outline: none;" placeholder="Enter label name">
                        </div>
                        <mat-icon matTooltip="Rename" (click)="rename()">edit</mat-icon>
                    </a>

                </div>
                <br> <br> <br>
                <button mat-button class="done" (click)="done()">Done</button>
            </mat-card>
        </div>
    </div>

</div>