<mat-drawer-container [class.drawer-opened]="drawer.opened" class="example-container">

    <mat-drawer #drawer class="drawer" mode="side" opened="true">
        <div class="contents">
        </div>
        <div class="contents">
        </div>
        <mat-list>
            <mat-list-item>
                <div class="contents">
                    <button mat-button color="primary">
                        <mat-icon>
                            notes
                        </mat-icon>
                        Notes
                    </button>
                </div>
            </mat-list-item>
    
            <mat-list-item>
                <div class="contents">
                    <button mat-button color="primary">
                        <mat-icon>
                            notifications
                        </mat-icon>
                        Reminder
                    </button>
                </div>
            </mat-list-item>
            <mat-divider class="divider"></mat-divider>
            <mat-list-item>
                <div class="contents">
                    <button mat-button color="primary">
                        <mat-icon>
                            edit
                        </mat-icon>
                        Edit labels
                    </button>
                </div>        
            </mat-list-item>
            <mat-divider class="divider"></mat-divider>
            <mat-list-item>
                <div class="contents">
                    <button mat-button color="primary">
                        <mat-icon>
                            archive
                        </mat-icon>
                        Archive
                    </button>
                </div>        
            </mat-list-item>
            <mat-list-item>
                <div class="contents">
                    <button mat-button color="primary">
                        <mat-icon>
                            restore_from_trash
                        </mat-icon>
                        Trash
                    </button>
                </div>        
            </mat-list-item>
        </mat-list>
    </mat-drawer>

    <mat-toolbar class="main header">
        <mat-icon (click)="drawer.toggle()">
            menu
        </mat-icon>
        <div>

            <h1><span class="purple">F</span>
                <span class="red">U</span>
                <span class="blue">N</span>
                <span class="purple">D</span>
                <span class="red">O</span>
                <span class="green">O</span>
            </h1>
        </div>
        <mat-card class="search">
            <mat-icon class="searchicon">search</mat-icon>
            <input matInput placeholder="search here">
        </mat-card>
    </mat-toolbar>
    <div class="main contents">
        drawer opened: {{drawer.opened}}
        <mat-card class="takenote">take a note</mat-card>
       

    </div>
</mat-drawer-container>