<mat-drawer-container [class.drawer-opened]="drawer.opened" class="example-container">

    <mat-drawer #drawer class="drawer" mode="side" opened="true">
        <div class="contents">
        </div>

        <mat-nav-list>
            <a mat-list-item routerLink="notes">
                <mat-icon>lightbulb_outline</mat-icon>Notes
            </a> <br>

            <a mat-list-item routerLink="reminder">
                <mat-icon>notifications</mat-icon>Reminders
            </a>

            <mat-divider class="divider"></mat-divider>

            <label>Labels</label><br>
            <a mat-list-item routerLink="notes">
                <mat-icon>edit</mat-icon>Edit Labels
            </a> <br>

            <mat-divider class="divider"></mat-divider>

            <a mat-list-item routerLink="archive">
                <mat-icon>archive</mat-icon>Archive
            </a> <br>

            <a mat-list-item routerLink="trash">
                <mat-icon>delete</mat-icon>Trash
            </a> <br>

        </mat-nav-list>
    </mat-drawer>

    <mat-toolbar class="main header">
        <button type="button" mat-icon-button (click)="drawer.toggle()" color="primary">
            <mat-icon>menu</mat-icon>
        </button>
        <div>
            <h1><span class="purple">F</span>
                <span class="red">U</span>
                <span class="blue">N</span>
                <span class="purple">D</span>
                <span class="red">O</span>
                <span class="green">O</span>
            </h1>
        </div>
         <mat-card class="search">
            <mat-icon class="searchicon">search</mat-icon>
            <input matInput placeholder="search here">
        </mat-card>
        <div class="settings">
            <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="settings" style="margin-left: 620px">
                <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Settings</button>
                <button mat-menu-item>Send feedback</button>
                <button mat-menu-item>Help</button>
                <button mat-menu-item>App downloads</button>
                <button mat-menu-item>Keyboard Shaortcuts</button>
            </mat-menu>
        </div>


    </mat-toolbar>
    <div class="main contents">
        drawer opened: {{drawer.opened}}
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Take a Note
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <input matInput type="text" placeholder="title">
                <br>
                <input matInput type="text" placeholder="description">
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</mat-drawer-container>