.purple {
    color: purple;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}
.matcard {
    height: 60px;
}
.drawer {
    position: fixed;
    height: 100vh;
    min-width: 15%;
    background-color: rgb(84, 224, 194);
    border-right: 1px solid #ccc;
    background: linear-gradient(168deg, rgb(224, 189, 189) 62%, rgb(219, 142, 142) 62%, rgb(212, 133, 133) 32%, 
  transparent 73%);
  }
  .drawer .header {
    position: absolute;
    right: 0;
    justify-content: space-between;
  }
  .drawer .contents {
    padding: 16px;
  }
  
  .main {
    background-color: #fff;
    margin-top: 10px;
  
  }
  
  .main.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid #ccc;
  }
  
  .main.contents {
    min-height: 100vh;
    margin-top: 64px; /* height of header */
    padding: 16px;
  }
  
  .main.footer {
    position: fixed;
    border-top: 1px solid #ccc;
    bottom: 0;
    width: 100%;
  }
  .matcard {
    background-position : right;
  }
  
  .takenote {
    background-color: grey;
    width: 50%;
    height:30px;
    text-align: left;
    color: white;
    margin: 0 auto;
  }
  .search {
    background-color:  rgb(233, 215, 215);
  //   margin-top: 10px;
  //   background: linear-gradient(168deg, rgb(233, 215, 215) 62%, rgb(231, 223, 223) 62%, rgb(231, 211, 211) 62%, 
  // transparent 63%);
    // margin: auto
  }
  .searchicon{
    size:90%;
  }
  .divider {
    background-color: red;
    height: 1px;
  }