<mat-card [ngStyle]="{'background-color' : data.note.color}" class="mat">

    <div fxLayout="row">
        <div>
            <strong> <input style="border: none; outline: none;" [ngStyle]="{'background-color' : data.note.color}"
                    matInput type="text" class="ntitle" value="{{data.note.title}}" #title> </strong>
        </div>
        <app-pinned [notes]="data.note"></app-pinned>
    </div>

    <div>
        <i> <input style="border: none; outline: none;" [ngStyle]="{'background-color' : data.note.color}" matInput
                type="text" class="titles" value="{{data.note.description}}" #description> </i>

        <div fxLayout="row" style="padding-top: 32px;">
            <app-icons [notes]="data.note"></app-icons>
            <button mat-raised-button 
                (click)="updateNote(title.value, description.value, data.note.id)">Close</button>
        </div>
    </div>
</mat-card>