<mat-toolbar class="docs-navbar-header">
    <mat-toolbar-row>
        <div class="Main">
            <div class="sideNavIcon">
                <div>
                    <mat-icon (click)="drawer.toggle()" >menu</mat-icon>
                </div>
                <div>Fundoo</div>
            </div>
            <div class="searchWhole">
                <div class="searchbar">
                    <div class="searchIcon">
                        <mat-icon matSuffix>search</mat-icon>
                    </div>
                    <div>
                        <input class="input" matInput type="searchbar" placeholder=" Search"
                            style="outline:none; color: darkgray;">
                    </div>
                </div>

                <div class="appBarLastIcon">
                    <div class="settings">
                        <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="settings">
                            <mat-icon>settings</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>Settings</button>
                            <button mat-menu-item>Send feedback</button>
                            <button mat-menu-item>Help</button>
                            <button mat-menu-item>App downloads</button>
                            <button mat-menu-item>Keyboard Shaortcuts</button>
                        </mat-menu>
                    </div>
                    <div class="refresh">
                        <button id="refreshbutton" mat-icon-button>
                            <mat-icon>refresh</mat-icon>
                        </button>
                        <button mat-icon-button *ngIf="view" (click)="gridView()">
                            <mat-icon>view_module</mat-icon>
                        </button>
                        <button mat-icon-button *ngIf="!view" (click)="gridView()">
                            <mat-icon>view_agenda</mat-icon>
                        </button>
                    </div>
                    <div class="account">
                        <button mat-icon-button [matMenuTriggerFor]="account" matTooltip="settings">
                            <mat-icon>account_circle</mat-icon>
                        </button>

                        <div class="account">
                            <mat-menu #account="matMenu">
                               <app-signout></app-signout>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<!-- side navigation bar -->

<div class="sidenavdiv" style="background-color: cornsilk;">
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <mat-nav-list>
                <a mat-list-item matTooltip="notes" (click)="showNote()">
                    <mat-icon>lightbulb_outline</mat-icon>Notes
                </a> <br>
                <a mat-list-item  (click)="showReminder()" matTooltip="reminder">
                    <mat-icon>notifications</mat-icon>Reminders
                </a>

                <mat-divider class="divider"></mat-divider>

                <label>Labels</label><br>
                <div *ngFor="let notes of labels">
                    <a mat-list-item   matTooltip={{notes.labelname}} (click)="labelOperation(notes.labelname)">
                        <mat-icon>label</mat-icon>{{notes.labelname}}
                    </a> <br>
                </div>
                
                <div>
                   
                    <a mat-list-item  matTooltip="notes" (click)="editlabels(labels)">
                        <mat-icon>edit</mat-icon>Edit Labels
                    </a>
                </div> 
                <br>

                <mat-divider class="divider"></mat-divider>

                <a mat-list-item  (click)="showArchive()" matTooltip="archive">
                    <mat-icon>archive</mat-icon>Archive
                </a> <br>

                <a mat-list-item (click)="showTrash()" matTooltip="trash">
                    <mat-icon>delete</mat-icon>Trash
                </a> <br>

            </mat-nav-list>
        </mat-drawer>
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-container>
</div>