.card {
    background-color: rgb(228, 235, 217);
    height: 60%;
    width: 35%;
    margin: 0 auto;
}

.purple {
    color: purple;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

h2 {
    text-align: center;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

h1 {
    text-align: center;
}

.labelColor {
    color: red;
}

.password {
    color: red;
    width: 50%;
}

.line {
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.example-button-row {
    text-align: center;
}

.link {
    text-align: center;
}