<mat-card class="card">
    <h1>
        <span class="purple">F</span>
        <span class="red">U</span>
        <span class="blue">N</span>
        <span class="purple">D</span>
        <span class="red">O</span>
        <span class="green">O</span>
    </h1>
    <h2>Sign in</h2>
    <br><br><br>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="outline" class="line">
            <mat-label class="labelColor">Email</mat-label>
            <input matInput [formControl]="email" placeholder="Ex. pat@example.com">
            <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="email.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <br>


        <mat-form-field class="name-width" appearance="outline" class="line">
            <mat-label class="labelColor">Password</mat-label>
            <input matInput [formControl]="password" placeholder="" type="password">
            <mat-error *ngIf="password.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="password.hasError('minlength')">
                Minimum <strong>length</strong> is 6
            </mat-error>
        </mat-form-field>

        <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="onLogin()">Login</button>
        </div>
    </form>
    <div class="link">
        <span class="reg">New user? <a href="register">Register</a></span>
    </div>
    <div class="link">
        <span class="reg">Forgot Password? <a href="forgot">Forgot Password</a></span>
    </div>
</mat-card>