.collaborator {
    height: 4cm;
    width: 100%;
    background-color: seagreen;
}
.button{
    margin: 0 10px;
}
.inputs {
    border: none;
    outline: none;
    background-color: #e4f0e4;
}
img {
    height:0.8cm;
    border-radius: 50%;
}