<mat-card style="height:145px;width: 380px; background-color: #e4f0e4;">
    <mat-card-title>
        <strong>Collaborators</strong>
    </mat-card-title>
    <mat-divider class="divider"></mat-divider>
    <br>
    <div>
        <div fxLayout="row">
            <!-- <img *ngIf="userData.profile!=null" style="border: none; width: 150%; " src={{userData.profile}} height="65%"> -->
          <strong>{{userData.name}}</strong>(Owner)
        </div>
        {{userData.email}}
    </div>

    <input matInput style="border: none; outline: none;background-color: #e4f0e4;" placeholder="user Email" value=""
        #email> <br>
    <mat-divider class="divider"></mat-divider>

    <div fxLayout="row">

        <button mat-raised-button mat-dialog-close class="button" >Cancel</button>

        <button mat-dialog-close mat-raised-button class="button" (click)="save(email.value, data.notes)">Save</button>
    </div>
</mat-card>