<mat-card style="height:auto;width: 380px; ">
    <mat-card-title>
        <strong>Collaborators</strong>
    </mat-card-title>
    <mat-divider class="divider"></mat-divider>
    <br>
    <div>
        <div fxLayout="row">
            <img *ngIf="userData.profileImage!=null" src="assets/{{userData.profileImage}}">
            <strong>{{userData.name}}</strong>(Owner)
        </div>
        {{userData.email}}
    </div>


    <input matInput class="inputs" placeholder="user Email" value="" #email> <br>
    <mat-divider class="divider"></mat-divider>

    <div fxLayout="row">
        <br>
        <button mat-raised-button mat-dialog-close class="button">Cancel</button>

        <button mat-dialog-close mat-raised-button class="button" (click)="save(email.value, data.notes)">Save</button>
    </div>
</mat-card>