<div style="flex-wrap: wrap;">
    <div class="getAllNotes"  fxFlexOffset="15" style="flex-direction: row;
     box-sizing: border-box; display: flex; margin-left: 5%;">
        <div *ngFor="let notes of arrayOfColors">
            <mat-card class="getNotesMat" *ngFor="let note of notes" fxLayout="row wrap" [ngStyle]="{'background-color':note.color}">
                <div>
                    {{note.title}}
                </div>

                <div class="titles" style="padding: 0px;">
                    {{note.description}}
                </div>
            </mat-card>
        </div>
    </div>
</div>