.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  /* Column Gap */
  .cardList > * {
    box-sizing: border-box;
  }
  .cardList > *:not(:last-child) {
    margin-right: 32px;
  }
  /* Item sizing */
  .cardListItem {
    flex: 0 1 calc(33.3% - 32px);
  }
.pin {
    right: 0%;
}
.icon {
    border-bottom-color: red;
    margin: 0 6px;
}
.title{
    padding-left: 180px;
}
.titles{
    margin-bottom: 10%;
    padding-bottom: 100px;
    padding-top: 9px;
}
.ntitle{
    font-size: 20px;
    
}