<div class={{param}}>
    <mat-card class={{param}} [ngStyle]="{'background-color':notes.color}">
        <div fxLayout="row">
            <div class="title" (click)="OnClicktoUpdate(notes)">
                {{notes.title}}
            </div>
            <div class="pin">
                <app-pinned *ngIf="!notes.istrash" [notes]="notes"></app-pinned>
            </div>
        </div>


        <div class="titles" style="padding: 0px;" (click)="OnClicktoUpdate(notes)">
            {{notes.description}}
        </div>

        <div fxLayout="row" class="label">
            <div *ngFor="let label of labels">
                <div *ngIf="label.noteid==notes.id;else second" fxLayout="row">
                    <div class="labelVisibility">
                        {{label.labelname}}
                        <button matTooltip="Remove label" class="labelCancelVisibilty" (click)="removeLabel(label.id)">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </div>
                <ng-template #second>
                    <ng-container>
                        {{notes.labelname}}
                    </ng-container>
                </ng-template>
            </div>
        </div>

        <div fxLayout="row" *ngIf="notes.reminder!=null">
            <div class="labelVisibility">
                {{notes.reminder}}

                <button matTooltip="Delete Reminder" [ngStyle]="{'background-color' : notes.color}"
                    class="labelCancelVisibilty" style="border: none;outline: none;border-radius: 20px;">
                    <mat-icon (click)="deleteReminder(notes.id)">close</mat-icon>
                </button>
            </div>
        </div>


        <mat-card-footer class="icons">
            <app-icons [param]="param" [notes]="notes"></app-icons>
        </mat-card-footer>
    </mat-card>
</div>