.row{
    width: 7cm;
    // margin-left: 18px;
    border-radius: 5%;
}
.pin {
    margin-left: 80%;
    visibility: hidden;
}
.column{
    margin-top:1%;
    bottom: 20%;
    width: 15cm;
    height: auto;
    border-radius: 5%;
    margin-bottom: 20px;
    margin-left: 25%;
  }
.icon {
    border-bottom-color: red;
    margin: 0 6px;
}
.title{
    padding-left: 180px;
}
.titles{
    margin-bottom: 10%;
    padding-bottom: 100px;
    padding-top: 9px;
}
.ntitle{
    font-size: 20px;
    
}
.icons{
    visibility: hidden;
}
.row:hover{
    .icons{
        visibility: visible;
    }
    .pin {
        right: 0%;
        visibility: visible;
    }
}


.column:hover{
    .icons{
        visibility: visible;
    }
    .pin {
        right: 0%;
        visibility: visible;
    }
}


.labelCancelVisibilty{
    visibility: hidden;
    background-color: rgb(214, 191, 191);
    outline: none;
    border: none;
}

.labelVisibility{
    border: none;
    outline: none;
    height: 0.9cm;
    width: auto -10%;
    margin-left: 0.2cm;
    background-color: rgb(214, 191, 191);
    border-radius: 20px;
    margin: 5px;
    opacity: 60%;
}
.labelVisibility:hover{
    .labelCancelVisibilty{
        margin-top: auto;
        visibility: visible;
    }
}
