<mat-card class="si">
    <div fxLayout="column">
        <div>
            <img src="assets/{{data.userValues.profile}}" class="image">

            <div fxLaout="row">
                <input  style="border: none; outline: none; width: 4cm;" placeholder="Change Profile" type="file" value="" #profile />
                <button (click)="Upload(profile.value)">Upload</button>
            </div>

        </div>
        <strong>{{data.userValues.name}}</strong>
    </div>
    {{data.userValues.email}}
    <br>
    {{val}}
    <mat-divider class="divider"></mat-divider>
    <button mat-dialog-close mat-raised-button color="primary" class="button" (click)="SignOut()">SignOut</button>
</mat-card>