<mat-card class="si">
    <div fxLayout="column">
        <div>
            <img src="assets/{{data.userValues.profile}}" class="image">

            <div class="container row">
                <div class="col-md-6">
                    <input type="file" (change)="onFileChanged($event)" class="input">
                </div>
                <div class="col-md-6">
                    <input type="button" (click)="onUpload()" value="upload">
                </div>
            </div>
        </div>
        <strong>{{data.userValues.name}}</strong>
    </div>
    {{data.userValues.email}}
    <br>
    {{val}}
    <mat-divider class="divider"></mat-divider>
    <button mat-dialog-close mat-raised-button color="primary" class="button" (click)="SignOut()">SignOut</button>
</mat-card>