<mat-card class="si">
    <div fxLayout="column">
        <div>
            <img *ngIf="valuesOfUserData.profile!=null" src="assets/{{valuesOfUserData.profile}}" class="image">

            <mat-icon *ngIf="valuesOfUserData.profile==null" class="image" matTooltip="Upload Profile Pic">
                account_circle</mat-icon>
            <input id="file-input" type="file" value="" #email />
        </div>
        <strong>{{valuesOfUserData.name}}</strong>
    </div>
    {{valuesOfUserData.email}}
    <br>
    <mat-divider class="divider"></mat-divider>
    <button mat-dialog-close mat-raised-button color="primary" class="button" (click)="SignOut()">SignOut</button>
</mat-card>