.si{
    width: 6.5cm;
    height: 8cm;
    align-items: center;
}
.signout{
    height: 10cm;
    width: 6cm;
    color: rgb(155, 185, 168);
    align-items: center;
}
.image{
    height:2cm;
    width: 2cm;
    align-self: center;
}
.sort{
    align-items: center;
}
.input{
    border:none;
}