.si{
    width: 6.5cm;
    height: 8cm;
    align-items: center;
}
.signout{
    height: 10cm;
    width: 6cm;
    color: rgb(155, 185, 168);
    align-items: center;
}
img {
    height:1cm;
    border-radius: 50%;
    align-self: center;  
}
.sort{
    align-items: center;
}
.input{
    border:none;
}