<p>testing works!</p>
<button (click)="userValues()">TEST</button>
{{notes.token}}




<div class="image-cropper">
    <img src="assets/1.svg" alt="avatar" class="profile-pic">
</div>


<mat-card *ngIf="!popup" (click)="click()" class="smallmatcard">
    <input matInput type="text" placeholder="TAKE A NOTE...." #takeanote  class="inputu">
</mat-card>

<mat-card *ngIf="popup" fxLayout="column" class="matcard">
    <input matInput type="text" placeholder="TITLE" class="inputu" value="" #title>
    <br>
    <input matInput type="text" placeholder="take a note" class="inputu" value="" #takeanote>
    
    <button mat-button (click)="save(title.value,takeanote.value)">
        close
    </button>
</mat-card>