.image-cropper {
    width: 2cm;
    height: 2cm;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 2cm;
  width: auto;
}



.inputu{
  outline: none;
  border: none;
  outline: none;
  
}
.matcard{
  margin-left: 25%;
  width: 15cm;
  height:4cm;
}

.smallmatcard{
  margin-left: 25%;
  width: 15cm;
  height:1cm;

}