<!-- <p>testing works!</p>
<button (click)="userValues()">TEST</button>
{{notes.token}}


<button mat-icon-button>
<img  src="assets/1.svg"
class="img-circle">
</button>

<div class="image-cropper">
    <img src="assets/1.svg" alt="avatar" class="profile-pic">
</div> -->


<mat-card *ngIf="!popup" (click)="click()" class="smallmatcard">
    <input type="text" placeholder="TAKE A NOTE...." #takeanote >
</mat-card>

<mat-card *ngIf="popup" fxLayout="column" class="matcard">
    <input type="text" placeholder="TITLE" class="inputu" value="" #title>
    <br>
    <input type="text" placeholder="take a note" class="inputu" value="" #takeanote>
    
    <button mat-button (click)="save(title.value,takeanote.value)">
        close
    </button>
</mat-card>