.image-cropper {
    width: 1.5cm;
    height: 1.5cm;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 1.5cm;
  width: auto;
}



input#file {
  display: inline-block;
  width: 2cm;
  padding: 120px 0 0 0;
  height: 2cm;
  overflow: hidden;
  box-sizing: border-box;
  background: #e4e4e4;
  border-radius: 20px;
  background-size: 2cm;
}

#real {
  display: none;
}

#fake-button {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Mozilla_Firefox_logo_2013.svg/40px-Mozilla_Firefox_logo_2013.svg.png");
}