<div style="flex-wrap: wrap;">
    <div class="notes" fxFlexOffset="15" style="flex-direction: row;
     box-sizing: border-box; display: flex; margin-left: 5%;">
        <div *ngFor="let note of trashNotes">
            <mat-card class="notes"  [ngStyle]="{'background-color':note.color}">

                <div class="pinNotes">
                </div>

                <div class="ntitle">
                    {{note.title}}
                </div>

                <div class="titles" style="padding: 0px;">
                    {{note.description}}
                </div>
                <div>
                    <div class="colorlist">
                        <a>
                            <mat-icon class="icon" (click)=delete(note.id) matTooltip="Delete forever">delete_forever</mat-icon>
                            <mat-icon class="icon" (click)=unTrash(note.id,note.istrash) matTooltip="Restore">restore_from_trash</mat-icon>
                        </a>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>