<div style="flex-wrap: wrap;">
    <div class="notes" fxFlexOffset="15" style="flex-direction: row;
     box-sizing: border-box; display: flex; margin-left: 5%;">
        <div *ngFor="let note of notes">
            <mat-card class="notes" *ngIf=note.istrashed [ngStyle]="{'background-color':note.color}">
                <mat-card-header>
                    {{note.title}}
                </mat-card-header>
                <mat-card-content>
                    {{note.description}}
                </mat-card-content>

                <div class="colorlist">
                    <a>
                        <mat-icon class="icon" matTooltip="Delete forever">add_alert</mat-icon>
                        <mat-icon matTooltip="collaborator" class="icon">trash</mat-icon>
                    </a>
                </div>
            </mat-card>
        </div>
    </div>
</div>