.title{
    background-color: #fff;
    border-color: #e0e0e0;
    border: none;
    outline: none;
}
.getAllNotes {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box; 
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 178px;
}