<mat-card [ngStyle]="{'background-color' : data.notes.color}" class="getAllNotes">

    <div fxLayout="row">
       <div>
          <strong> <input [ngStyle]="{'background': data.notes.color}" matInput type="text" class="title"
                style="padding-top: 20px;" value="{{data.notes.title}}" #title> </strong>
       </div>
    </div>
 
    <div>
       <i> <input [ngStyle]="{'background': data.notes.color}" matInput type="text" class="title"
             value="{{data.notes.description}}" #description> </i>
 
       <div fxLayout="row" style="padding-top: 32px;">
          <button type="submit" (click)="updateNote(title.value, description.value, data.notes.id)" mat-button
             NoteId="SUBMIT">
             <h3> Close </h3>
          </button>
       </div>
    </div>
 </mat-card>