.main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4%;
}

.input {
    outline: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}


.searchBar {
    border: none;
    outline: none;
}

.iconlist {
    margin-top: 3%;
}

.close:hover {
    background-color: rgb(196, 178, 161);
    outline: none;
}

.close:active {
    border: none;
    outline: none;
    border-radius: 10px 10px 10px 10px;
}
.buttons{
    margin-right: 30%;
}
.labelVisibility{
    border: none;
    outline: none;
    height: 30px;
    width: auto;
    background-color: rgb(214, 191, 191);
    border-radius: 30%;
    margin: 0 2px;
    opacity: 60%;
}
.labelCancelVisibilty{
    visibility: hidden;
}
.labelVisibility:hover{
    .labelCancelVisibilty{
        margin-top: auto;
        visibility: visible;
    }
}
