.card {
    background-color: rgb(228, 235, 217);
    height: 60%;
    width: 35%;
    margin: 0 auto;
    text-align: center;
}

.purple {
    color: purple;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

h2 {
    text-align: center;
}

.line {
    width: 100%;
}

.example-button-row {
    text-align: center;
}