<mat-card class="size">

    <div fxLayout="row">
        <mat-icon matTooltip="Go back">arrow_back</mat-icon>
        Pick date & time
    </div>
    <mat-form-field>
        <input matInput [matDatepicker]="date"  value="matDatepicker" #picdate>
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
      </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="color">
        <mat-label>8:00 AM</mat-label>
        <mat-select>
            <mat-option value="8:00 AM" (click)="setTime(a.value)" #a>Morning 8:00 AM</mat-option>
            <mat-option value="1:00 PM" (click)="setTime(b.value)" #b>Afternoon 1:00 PM</mat-option>
            <mat-option value="6:00 PM" (click)="setTime(c.value)" #c>Evening 6:00 PM</mat-option>
            <mat-option value="8:00 PM" (click)="setTime(d.value)" #d>Night 8:00 PM</mat-option>
            <mat-option value="10:00 AM" (click)="setTime(e.value)" #e>Custom</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="color">
        <mat-label>Does not repeat</mat-label>
        <mat-select>
            <mat-option value="not" (click)="setRepitation(f.value)" #f>Does not repeat</mat-option>
            <mat-option value="daily" (click)="setRepitation(g.value)" #g>Daily</mat-option>
            <mat-option value="weekly" (click)="setRepitation(h.value)" #h>Weekly</mat-option>
            <mat-option value="monthly" (click)="setRepitation(i.value)" #i>Monthly</mat-option>
            <mat-option value="yearly" (click)="setRepitation(j.value)" #j>Yearly</mat-option>
        </mat-select>
    </mat-form-field>
    <button  mat-raised-button (click)="save(picdate.value)" >Save</button>
</mat-card>