.done {
    margin: 0 10px;
    display: block;
    left: auto;
  }

.check{
    height: 120px;
    overflow-y: auto;
}
.createlabel {
    background-color: rgb(228, 235, 217);
    height: 7cm;
    width: 7cm;
    margin: 0 auto;
    margin-top: 120px;
}