<div class="showEditLabel">
    <mat-card>
        <mat-card-content>
            <strong>Note Labels</strong>
            <div fxLayout="column">
                <div fxLayout="row">
                    <button class="labels" matTooltip="close"
                        style="border: none; outline: none;background-color:none; width:3cm;height:0.7cm"
                        mat-dialog-close>
                        <mat-icon>close</mat-icon>
                    </button>
                    <input matInput
                        style="border: none; outline: none;background-color: none; width:3cm;height:0.7cm"
                        placeholder="Enter label name" matInput [(ngModel)]="nameLabel"> <br>
                    <button class="labels" matTooltip="create" mat-dialog-close (click)="createLabels(nameLabel)">
                        <mat-icon>check</mat-icon>
                    </button>
                </div>


                <label *ngFor="let lab of data.labels" fxLayout="coloum">
                    <div fxLayout="row">
                        <mat-icon matTooltip="Delete Label" (click)="deleteLabel(lab.id)" mat-dialog-close> label
                        </mat-icon>
                        <input style="border: none; outline: none; background-color: whitesmoke;width:3cm;" *ngIf="edit"
                            value="{{lab.labelname}}">
                        <a *ngIf="!edit" style="width:3cm"> {{lab.labelname}}</a>
                        <mat-icon (click)=editLabel() matTooltip="Rename Label">edit</mat-icon>
                    </div>
                    <br>
                </label>
            </div>
        </mat-card-content>
        <mat-divider class="divider"></mat-divider>
        <button mat-button mat-dialog-close matTooltip="close">Done</button>
    </mat-card>
</div>