<app-createnote></app-createnote>
<div class="main-div">

    <div fxLayoutGap="10px" style="margin-top: 1px" *ngFor="let notes of arrayOfColors" fxLayout="row wrap">
        <div *ngFor="let note of notes">
            <mat-card class="displayNotesSize" [ngStyle]="{'background-color':note.color}">
                <div id="matdiv">
                    <!-- <mat-card-title> -->
                    {{note.title}}
                    <!-- </mat-card-title> -->

                    <!-- <mat-card-content> -->
                    <div>
                        {{note.description}}
                    </div>
                    <div class="bottom">
                        <mat-icon  class="icon" matTooltip="Add alert">add_alert</mat-icon>
                        <mat-icon matTooltip="collaborator" class="icon">person_add</mat-icon>
                        <mat-icon class="icon" matTooltip="Add Color">palette</mat-icon>
                        <mat-icon class="icon" matTooltip="Add image">image</mat-icon>        
                        <mat-icon  class="icon" matTooltip="more">more_vert</mat-icon>
                    </div>
                    <!-- </mat-card-content> -->
                </div>
            </mat-card>
        </div>
    </div>
</div>


