<div *ngIf="param=='notes'">
    <app-createnote></app-createnote>
    <div style="padding-left: 255px;">
        <h5>PINNED</h5>
    </div>
    <div style="flex-wrap: wrap;">
        <div class={{gridView}}  fxLayout={{gridView}} fxFlexOffset="15"
            style="box-sizing: border-box; display: flex; margin-left: 5%;">
            <div *ngFor="let note of allnotes" class="space">
                <app-display-data *ngIf="!note.istrash&&!note.isarchived&&note.ispinned==1" [param]="param" [labels]="labelNotes" [notes]="note"></app-display-data>
            </div>
        </div>
    </div>
    <br>
    <!-- OTHERS -->

    <div style="padding-left: 255px;">
        <h5>OTHERS</h5>
    </div>
    <div style="flex-wrap: wrap;">
        <div class={{gridView}}  fxLayout={{gridView}} fxFlexOffset="15"  fxLayout="row"
            style="box-sizing: border-box; display: flex; margin-left: 5%;">
            <div *ngFor="let note of allnotes" class="space">
                <app-display-data *ngIf="!note.istrash&&!note.isarchived&&!note.ispinned"  [param]="gridView" [labels]="labelNotes" [notes]="note">
                </app-display-data>
            </div>
        </div>
    </div>
</div>

<div *ngIf="param=='archive'">
    <br><br>
    <div style="flex-wrap: wrap;">
        <div class={{gridView}}  fxLayout={{gridView}} fxFlexOffset="15"  style="flex-direction: row;
         box-sizing: border-box; display: flex; margin-left: 5%;">
            <div *ngFor="let note of allnotes" class="space">
                <app-display-data *ngIf="!note.istrash&&note.isarchived"  [param]="gridView" [labels]="labelNotes" [notes]="note"></app-display-data>
            </div>
        </div>
    </div>
</div>

<div *ngIf="param=='trash'">
    <br><br>
    <div style="flex-wrap: wrap;">
        <div class={{gridView}}  fxLayout={{gridView}} fxFlexOffset="15"  style="flex-direction: row;
         box-sizing: border-box; display: flex; margin-left: 5%;">
            <div *ngFor="let note of allnotes" class="space">
                <app-display-data *ngIf="note.istrash==1"  [param]="gridView" [labels]="labelNotes" [notes]="note"></app-display-data>
            </div>
        </div>
    </div>
</div>



<div *ngIf="param=='reminder'">
    <app-createnote></app-createnote>
    <br>
    <div style="flex-wrap: wrap;">
        <div class={{gridView}}  fxLayout={{gridView}} fxFlexOffset="15"
            style="box-sizing: border-box; display: flex; margin-left: 5%;">
            <div *ngFor="let note of allnotes" class="space">
                <div *ngIf="note.reminder!=null">
                    <app-display-data *ngIf="!note.istrash&&!note.isarchived"  [param]="gridView" [labels]="labelNotes" [notes]="note"></app-display-data>
                </div>
            </div>
        </div>
    </div>
</div>